
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(186, 205, 218);
    margin: 0;
}

h1 {
  color: darkcyan;
  margin: 0 auto;
  border-bottom: 2px solid teal;
  padding: 20px 0;
}

h2 {
  margin: 0 auto;
  font-style: italic;
  color: black;
  background-color: white;
  text-decoration: underline;
  padding: 10px 20px;
  opacity: .;
}

p {
  margin: 0 auto;
  font-style: italic;
  color: darkcyan;
  padding: 20px 0;
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 3% 10%;
  padding-top: .5%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  background-color: white;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

nav > a {
  margin: 2% 1% 3%;
  height: 20px;
  width: 120px;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .45);
  padding: 15px;
  text-align: center;
  border: 2px solid white;
  text-decoration: none;
}

nav > a:hover {
  opacity: .7;
  cursor: pointer;
  border: 2px solid teal;
}

.has-border {
  border-radius: 25px;
  height: 20px;
  width: 120px;

  background: rgba(255, 255, 255, .75);
  padding: 15px;
}

.has-border:hover {
  opacity: .7;
  cursor: pointer;
  border: 2px solid teal;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-content: flex-end;
}

/* Start of Main Section */

main {
  height: auto;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
              "header header header"
              "image1 image1 image1"
              "info info aside1"
              "info info aside2"
              "contact image2 image2";
  margin-bottom: 40px;
}

main > img:first-of-type {
  grid-area: image1;
  width: 100%;
  margin-bottom: 40px;
}

/* top section */

main div:first-child {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* under image */

.about-block {
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 410px;
  background-color: ghostwhite;
}

/* below image */

article {
  width: 500px;
  color: darkcyan;
  line-height: 1.5em;
}


/* aside boxes */

.my-work {
  background-image: url("./images/screenprinting.jpg");
  background-size: 100%;
  background-position: center;
  filter: grayscale(80%);
  grid-area: aside1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.my-past {
  margin-top: 10px;
  grid-area: aside2;
}

.my-work, .my-past{
  width: 100%;
  height: auto;
  background-color: teal;
}

/* bottom area */

.contact-info {
  grid-area: contact;
  width: 350px;
  height: auto;
  background-color: tomato;
  margin-top: 40px;
}

.lower-img {
  grid-area: image2;
  margin-top: 40px;
  width: 100%
}

.small-text {
  grid-column: 2/3;
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

@media (max-width: 1276px) {
  h2 {
    font-size: 16pt;
  }
  main {
    height: auto;
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
                "header header"
                "image1 image1"
                "info info"
                "aside1 aside2"
                "contact image2";
    margin-bottom: 40px;
  }

  .about-block {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }

  article {
    margin: 0 auto;
    width: 90%;
  }

  .my-work {
    width: 330px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .my-past {
    width: 330px;
    margin-left: 20px;
    margin-top: 0;
  }

  .contact-info {
    grid-area: contact;
    width: 310px;
    height: auto;
    background-color: tomato;
    margin-top: 40px;
  }

}

@media (max-width: 876px) {
  h2 {
    font-size: 14pt;
  }

  main {
    height: auto;
    width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                "header"
                "image1"
                "info"
                "aside1" 
                "aside2"
                "contact"
                "image2"
                ;
    margin-bottom: 40px;
  }

  .about-block {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  article {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
  }

  .my-work {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  
  .my-past {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }

  .contact-info {
    grid-area: contact;
    width: 100%;
    height: auto;
    background-color: tomato;
    margin-top: 40px;
  }
  

}